<?php $productCollection = $block->getProductCollection();
$imageDisplayArea = 'category_page_grid';
foreach ($productCollection as $product) {
$postParams = $block->getAddToCartPostParams($product);

$productImage = $block->getImage($product, $imageDisplayArea);?>
<div class="vlad">
    <a href="<?= $product->getProductUrl(); ?>">

        <?= $productImage->toHtml();?></a>

    <a href="<?= $product->getProductUrl(); ?>"  >
        <?php echo  $product->getName();?></a><br>


    <br>  <b>  <?= "$".round($product->getPrice(),2);?></b><br>

    <form  action="<?php  echo $postParams['action']; ?>" method="post">

        <?php echo $block->getBlockHtml('formkey')?>

        <button type="submit"
                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                class="vladik">
            <?php  echo __('Add to Cart') ?>
        </button>
    </form>
    <?= '</div>';
    }

    ?>
</div>
</div>

<a href="<?= $this->getBaseUrl();?>appliaces.html" class="button">View all</a>
<hr>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

<script type="text/javascript" xml="space">
    require([
        'jquery',
        'bxSlider'
    ], function($){
        $(document).ready(function() {
            $('.slider').bxSlider( {
                controls: true,
                autoControls:true,

                minSlides:4,
                maxSlides:4,
                moveSlides:4,
                slideWidht: 200
            });
        });
    });
</script>


<div class="widhtforslide1">
    <div class="slider" >
        <?php

        $collection = $block->getNewArrival();

        foreach ($collection as $product) {
        $postParam = $block->getAddToCartPostParams($product); ?>

        <div class="vlad">
            <a href="<?= $product->getProductUrl(); ?>">

                <img src="pub/media/catalog/product<?= $product->getImage()?>"
                     style="width: auto; height: auto;max-width: 200px;max-height: 300px" ></a><br>
            <a href="<?= $product->getProductUrl(); ?>"  >
                <?php echo  $product->getName();?></a><br>

            <br>  <b>  <?= "$".round($product->getPrice(),2);?></b><br>

            <form  action="<?php  echo $postParam['action']; ?>" method="post">
                <?php echo $block->getBlockHtml('formkey')?>
                <button type="submit_button"
                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                        class="vladik">
                    <?php  echo __('Add to Cart') ?>
                </button>
            </form>
            <?= "</div>";} ?>

        </div>
    </div>
</div>
<a href="<?= $this->getBaseUrl();?>newarrival" class="button">New arrival</a>


<br>
<div class="widhtforslide2">
    <div class="slider" >   <?php
        $collection = $block->getRefurb();
        foreach ($collection as $product) {
        $postParam = $block->getAddToCartPostParams($product); ?>

        <div class="vlad">
            <a href="<?= $product->getProductUrl(); ?>">

                <img src="pub/media/catalog/product<?= $product->getImage()?>"
                     style="width: auto; height: auto;max-width: 200px;max-height: 300px" ></a><br>
            <a href="<?= $product->getProductUrl(); ?>"  >
                <?php echo  $product->getName();?></a><br>

            <br>  <b>  <?= "$".round($product->getPrice(),2);?></b><br>

            <form  action="<?php  echo $postParam['action']; ?>" method="post">
                <?php echo $block->getBlockHtml('formkey')?>
                <button type="submit_button"
                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                        class="vladik">
                    <?php  echo __('Add to Cart') ?>
                </button>
            </form>
            <?= '</div>';} ?>

        </div>
    </div><a href="<?= $this->getBaseUrl();?>refurbisher" class="button">Refurbisher</a>
</div>




