<?php
$collection = $block->getNewArrival();
foreach ($collection as $product) {
$postParam = $block->getAddToCartPostParams($product); ?>

<div class="vlad">
    <a href="<?= $product->getProductUrl(); ?>">

        <img src="pub/media/catalog/product<?= $product->getImage()?>"
             style="width: auto; height: auto;max-width: 200px;max-height: 300px" ></a><br>
    <a href="<?= $product->getProductUrl(); ?>"  >
        <?php echo  $product->getName();?></a><br>

    <br>  <b>  <?= "$".round($product->getPrice(),2);?></b><br>

    <form  action="<?php  echo $postParam['action']; ?>" method="post">
        <?php echo $block->getBlockHtml('formkey')?>
        <button type="submit_button"
                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                class="vladik">
            <?php  echo __('Add to Cart') ?>
        </button>
    </form>
    <?= "</div>";} ?>