<?php $productCollection = $block->getProductCollection();
foreach ($productCollection as $product) {
$postParams = $block->getAddToCartPostParams($product); ?>
<div class="vlad">
    <a href="<?= $product->getProductUrl(); ?>">

        <img src="<?php echo $this->getBaseUrl().$block->getBaseMediaDir()."/catalog/product".$product->getImage();?>"
             style="width: auto; height: auto;max-width: 200px;max-height: 300px" ></a>


    <a href="<?= $product->getProductUrl(); ?>"  >
        <?php echo  $product->getName();?></a><br>

    <br>  <b>  <?= "$".round($product->getPrice(),2);?></b><br>

    <form  action="<?php  echo $postParams['action']; ?>" method="post">

        <?php echo $block->getBlockHtml('formkey')?>

        <button type="submit"
                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                class="vladik">
            <?php  echo __('Add to Cart') ?>
        </button>
    </form>
    <?= '</div>';

    }

    ?>
