@background-color: white;

.vlad{
  display:inline;
  float: left;
  width: 15%;
  height: 300px;
  margin: 30px;
  border-radius: 10px;
  text-align: left;
  color: #0a0a0a;
  max-width:100%;
}

//.vlad:hover
//{
//  outline: 2px solid #000;
//  border: 3px solid #fff;
//}

@oh-my-blue: #4169E1;
button
{
  background-color:@oh-my-blue;
  color: white;
  text-align: center;
}
button:hover
{
  background-color:#0000FF;
  color: white;
}
.ssilka{
  text-align: center;
  text-align: center;
  margin-left: 35%;
  width: 30%;
}
.widhtforslide1{
width: 300px;
  margin-right: 20%;
  padding-right: 20%;
  float: right;
  display: inline-block;


}
.widhtforslide2{
  width: 300px;
  margin-right: 20%;
  padding-right: 20%;
  float: right;
  display: inline-block;

}
.button{
  text-align: center;
  background-color: #fff;
  color: #2e3436;
  margin-left: 45%;
  height: 5%;
  text-decoration: none;
  width: auto;
  border-radius: 4px;
}